/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext");

@font-face {
  font-family: "Lato_ru";
  src: url(./assets/Lato_ru.ttf);
}

body {
  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
p,
pre {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1020px;
  margin: auto;
}

.position {
    padding: 61px 40px 48px;
}

/* Header */

.header {
  padding: 29px 0 30px 0;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0;
}

.header__logo {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.header__logo span {
  color: #f06c64;
}

.header__list {
  display: flex;
  flex-direction: row;
}

.header__list:last-child {
  letter-spacing: -0.3px;
}

.header__item {
  display: flex;
  align-items: center;
  padding: 9px 0 0 16px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.header__item a:hover {
  color: #f06c64;
}

.header__item a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__item-active {
  color: #f06c64 !important; 
}

.header__dot {
  padding: 0px 0px 0 11px;
  display: block;
  font-size: 8px;
  color: #494e62;
}
/* Main */

/* Slider */

.slider {  
  border-bottom: 6px solid #ea676b;
}

.slide {
  display: none;  
}

.active_slide {
  display: block;
}

.slider__background {
  position: relative;
}

/* Slide 1 */

.slide1_bg {
  background-color: #f06c64;
}

.slide2_bg {
  background-color: #648BF0;
}

.phone_vertical {
  position: absolute;
  margin-top: 5.2%;
  width: 21.1%;  
  left: 11%;
  z-index: 4;
  transition: all 0.7s ease;
}

.phone_horizontal {
  position: absolute;
  width: 21.2%;  
  margin-top: 4.9%;
  left: 53.7%;
  transform: rotate(90deg);
  z-index: 4;
  transition: all 0.7s ease;
}

.bg_vertical {
  position: absolute;
  margin-top: 11.7%;
  width: 18.4%;
  left: 12.4%;
  z-index: 3;
  transition: all 0.7s ease;
}

.bg_horizontal {
  position: absolute;
  margin-top: 18.3%;
  width: 32.7%;
  right: 19.6%;
  z-index: 3;
  transition: all 0.7s ease;
}

.bg_button-horizontal {
  position: absolute;
  margin-top: 25.5%;
  width: 4.1%;
  left: 42.5%;
  cursor: pointer;
  z-index: 5;
  transition: all 0.7s ease;
}

.bg_button-vertical {
  position: absolute;
  margin-top: 45.1%;
  width: 4.1%;
  left: 19.5%;
  cursor: pointer;
  z-index: 5;
  transition: all 0.7s ease;
}

.shadow-horizontal {
  position: absolute;
  margin-top: 17.1%;
  width: 47.4%;
  left: 41.8%;
  transition: all 0.7s ease;
}

.shadow-vertical {
  position: absolute;
  margin-top: 5.2%;
  width: 23.6%;
  left: 11%;
  transition: all 0.7s ease;
}

.bg_black-vertical {
  display: none;
  position: absolute;
  margin-top: 10%;
  width: 20%;
  left: 12%;
  z-index: 3;
  transition: all 0.7s ease;
}

.bg_black-horizontal {
  display: none;
  position: absolute;
  margin-top: 10%;
  width: 20%;
  left: 55%;
  z-index: 3;
  transform: rotate(90deg);
  transition: all 0.7s ease;
}

.bg_black-active {
  display: block !important;
  transition: all 0.1s ease;
}

/* Slide 2 */

.phone_right {
  position: absolute;
  width: 13.8%;
  margin-top: 14.9%;  
  right: 26.2%;
  z-index: 3;
  transition: all 0.7s ease;
}

.phone_left {
  position: absolute;
  width: 13.8%;
  margin-top: 14.9%;
  left: 24.8%;
  z-index: 3;
  transition: all 0.7s ease;
}

.phone_center {
  position: absolute;
  width: 22.5%;
  margin-top: 4.2%;
  left: 37.6%;
  z-index: 6;
  transition: all 0.7s ease;
}

.bg_vertical-left_slide2 {
  position: absolute;
  width: 12.09%;
  margin-top: 19%;
  left: 25.6%;
  z-index: 2;
  transition: all 0.7s ease;
}

.bg_vertical-right_slide2 {
  position: absolute;
  width: 12.09%;
  margin-top: 19%;
  right: 27%;
  z-index: 2;
  transition: all 0.7s ease;
}

.bg_vertical-center_slide2 {
  position: absolute;
  width: 19.7%;
  margin-top: 11%;
  left: 39%;
  z-index: 5;
  transition: all 0.7s ease;
}

.shadow-vertical_right {
  position: absolute;
  width: 15.4%;
  margin-top: 14.9%;
  right: 24.5%;
  z-index: 1;
  transition: all 0.7s ease;
}

.shadow-vertical_left {
  position: absolute;
  width: 15.4%;
  margin-top: 15%;
  left: 24.9%;
  z-index: 1;
  transition: all 0.7s ease;
}

.shadow-vertical_center {
  position: absolute;
  width: 25%;
  margin-top: 4.2%;
  left: 37.6%;
  z-index: 4;
  transition: all 0.7s ease;
}

.bg_black_slide2 {
  display: none;
  position: absolute;
  width: 20%;
  margin-top: 11%;
  left: 39%;
  z-index: 5;
  transition: all 0.7s ease;
}

.bg_button_slide2 {
  position: absolute;
  width: 4.3%;
  margin-top: 46.7%;
  left: 46.7%;
  cursor: pointer;
  z-index: 7;
  transition: all 0.7s ease;
}


.slider__list {
  display: flex;
  justify-content: space-between;
}

.slider__item:first-of-type {
  margin: 27.4% 0 27.6% 4%;
}

.slider__item:last-of-type {
  margin: 27.4% 3.7% 27.6% 0%;
}

.fa-chevron-left {  
  font-size: 31px;
  color: #ca4549;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-chevron-right {
  font-size: 31px;
  color: #ca4549;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-chevron-left:hover {
  filter: drop-shadow(0px 0px 4px #ffdad8);
}

.fa-chevron-right:hover {
  filter: drop-shadow(0px 0px 4px #ffdad8);
}

/* Info */

.info {
  margin: 0;
  padding: 59px 40px 32px;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.info__title {
  padding: 0 40px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #666d89;
}

.info__description {
  padding: 18px 40px 44px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
}

.info__list {
  display: flex;
  flex-direction: column;
  padding: 45px 40px 0;
}

.info__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}

.info__icon {
  height: 59px;
  padding: 4px 0 0 1px;
}

.info__item {
  display: flex;
  flex-direction: row;
  padding: 0 0 30px 0;
}

.info__article {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

.article__title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 0px 0 8px 0;
  letter-spacing: -0.1px;
  color: #666d89;
}

.article__text {
  max-width: 220px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.09px;
  text-align: justify;
  color: #767e9e;
}

/* Portfolio */

.position-portfolio {
  padding: 60px 0px 53px;
  margin: 0px 35px;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 0 0 1px 0;
}

.portfolio__title {
  padding: 0 0 0 4px;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 800;
  color: #666d89;
  letter-spacing: -0.2px;
}

.portfolio__description {
  padding: 21px 0 0 5px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  color: #767e9e;
}

.portfolio__nav {
  padding: 15px 0px 11px 6px;
  max-width: 289px;
}
.portfolio__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio__button {
  padding: 4px 7px 4px;
  border: 1px solid #666d89;
  border-radius: 6px;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  transform: scaleY(0.85);
  color: #666d89;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.portfolio__button:nth-child(2) {
  letter-spacing: -0.2px;
  word-spacing: 1px;
}

.portfolio__button:nth-child(3) {
  letter-spacing: -0.3px;
  word-spacing: -1.4px;
}

.portfolio__button:hover {
  border-color: #dedede;
  color: #dedede;
}

.portfolio__gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 619px;
  overflow: hidden;
}

.gallery__item {
  box-sizing: border-box;
  padding: 5px 5px 11px 5px;
  cursor: pointer;  
}

.gallery_img {
  width: 99%;
}

.gallery_item-active {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
  box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
}



/* About us */

.about-us {
  background-color: #f2f2f2;
  padding: 0 0 17px 0;
  border-bottom: 6px solid #ffffff;
}
.about-us__title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 800;
  color: #666d89;
  letter-spacing: -0.2px;
}

.about-us__description {
  padding: 16px 0 0 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  text-align: justify;
  color: #767e9e;
}

.about-us__staff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 44px 0 0 0;
}

.staff__item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.staff__photo {
  width: 100%;
}
.staff__name {
  padding: 16px 0 0 0px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: -0.1px;
  color: #656d89;
}

.staff__name h3 {
  font-size: 18px;
}

.staf__contact {
  display: flex;
  flex-direction: row;
  padding: 27px 0 0 0;
}

.staf__description[title="human1"] {
  padding: 11px 0 0 0;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  word-spacing: 0.3px;
  color: #767e9e;
}

.staf__description[title="human2"] {
  padding: 11px 0 0 0;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  word-spacing: 1px;
  color: #767e9e;
}

.staf__description[title="human3"] {
  padding: 11px 0 0 0;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01px;
  word-spacing: 0.25px;
  color: #767e9e;
}

.staf__description span[title="human1"] {
  display: block;
  padding: 6px 0 0 0;
  letter-spacing: -0.2px;
  word-spacing: 0.9px;
}

.staf__description span[title="human2"] {
  display: block;
  padding: 6px 0 0 0;
  word-spacing: -0.4px;
}

.staf__description span[title="human3"] {
  display: block;
  padding: 6px 0 0 0;
  letter-spacing: -0.2px;
  word-spacing: 1px;
}

.contact__item {
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  border: 1px solid #656d89;
  border-radius: 50%;
  margin: 1px 9px 0 0px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.contact__item:hover {
  border-width: 2px;
  transform: scale(1.01);
}

.contact__link {
  font-size: 12px;
  color: #656d89;
}

.contact__facebook::before {
  content: "\f39e";
  position: relative;
  top: 6px;
  left: 11px;
  font-family: "FontAwesome";
  font-size: 13px;
  color: #656d89;
}

.contact__google {
  position: relative;
  top: 8px;
  left: 8px;
  font-size: 12px;
  color: #656d89;
}

.contact__twitter::before {
  content: "\f099";
  position: relative;
  top: 7px;
  left: 8px;
  font-family: "FontAwesome";
  font-size: 14px;
  color: #656d89;
}

.contact__linkedin::before {
  content: "\f0e1";
  position: relative;
  top: 7px;
  left: 8px;
  font-family: "FontAwesome";
  font-size: 15px;
  color: #656d89;
}

/* Quote */

.position__quote {
  padding: 60px 40px 13px;
}

.quote {
  border-bottom: 6px #ea676b solid;
  background-color: #f06c64;
}

.quote__title {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 800;
  color: #f0d8d9;
  letter-spacing: -0.2px;
}

.quote__description {
  padding: 17px 0 0 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #f0d8d9;
}

.quote__email-contact {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 0 0;
}

.quote__email {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email__item {
  margin: 18px 0 -3px 0;
  width: 605px;
  height: 37px;
  padding: 0px 0px 0px 13px;
  border: 1px #d6564f solid;
  border-radius: 6px;
  font-family: "Lato";
  font-size: 12px;
  background-color: #d6564f;
  color: #f48c8f;
}

.email__item::placeholder {
  font-family: "Lato";
  font-size: 12px;
  color: #f48c8f;
}

.email__text {
  margin: 19px 0 0 0;
  width: 605px;
  height: 191px;
  padding: 10px 0px 0px 13px;
  border: 1px #d6564f solid;
  border-radius: 6px;
  font-family: "Lato";
  font-size: 12px;
  background-color: #d6564f;
  color: #f48c8f;
}

.email__text::placeholder {
  font-family: "Lato";
  font-size: 12px;
  color: #f48c8f;
}

.email_submit {
  margin: 19px 0 0 0;
  width: 80px;
  height: 35px;
  border: 1px #d6564f solid;
  border-radius: 6px;
  font-family: "Lato";
  font-size: 12px;
  text-align: center;
  background-color: #d6564f;
  color: #f48c8f;
  cursor: pointer;
}

.quote__contact {
  display: flex;
  flex-direction: column;
  padding: 17px 0 0 20px;
}

.quote__subtitle {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  color: #f0d8d9;
}

.quote__info {
  padding: 8px 0 24px 0;
  font-family: "Lato";
  font-size: 12px;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.fa-map-marker-alt {
  font-size: 12px;
  padding: 1px 13px 0 0;  
}

.fa-phone {
  font-size: 12px;
  padding: 2px 10px 0 0px;
}

.fa-envelope {
  font-size: 12px;
  padding: 4px 11px 0 0;
}

.fa-icon {
  color: #efd7d9;
}

.quote__element {
  font-family: "Lato";
  font-size: 12px;
  color: #f0d8d9;
}

.quote__item:nth-of-type(n + 3) {
  display: flex;
  flex-direction: row;
  padding: 0px 0 7px 0;
}

.quote__item:nth-of-type(3) {
  letter-spacing: -0.1px;
}

.quote__item:nth-of-type(4) {
  letter-spacing: -0.1px;
}

/* Message */

.quote__message {
  display: none;
  position: absolute;
  left: 30%;
  min-width: 250px;
  max-width: 300px;
  min-height: 80px;
  padding: 10px;
  border: 0px solid;
  border-radius: 14px;
  font-family: "Lato_ru";  
  color: #ffffff;
  background-color: #2d303a; 
  box-shadow: 0px 0px 19px 5px #ffdad8c2
}

.quote__message-active {
  display: block !important;
}

.message_status {
  padding: 5px;
  margin: 0 0 10px 0;
  border: 0px solid;
  border-radius: 8px;
  word-wrap: break-word;
  background-color: #595e6e; 
}

.message_theme {
  padding: 5px;
  margin: 0 0 10px 0;
  border: 0px solid;
  border-radius: 8px;  
  word-wrap: break-word;
  background-color: #595e6e;
}

.message_describe {
  padding: 5px;
  margin: 0 0 10px 0;  
  border: 0px solid;
  border-radius: 8px;  
  word-wrap: break-word;
  background-color: #595e6e;
}

.message_close {
  padding: 3px 16px;
  margin: 0 40%;
  border: 0px solid;  
  border-radius: 16px;
  font-family: "Lato_ru";
  background-color: #f06c64;  
  cursor: pointer;
}



/* Footer */

.footer {
  background-color: #2d303a;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 40px;
}

.footer__company {
  padding: 8px 0 0 0px;
  font-family: "Lato";
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #666d89;
  transition: 0.2s ease-in;
}

.footer__company:hover {
  color: #ffffff;
}

.footer__contact {
  display: flex;
  flex-direction: row;
}

.footer__item {
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  border: 1px solid #656d89;
  border-radius: 50%;
  margin: 1px 0px 0 9px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.footer__item:hover {
  border-width: 2px;
  transform: scale(1.01);
}

.contact__link {
  font-size: 12px;
  color: #656d89;
}

.contact__facebook::before {
  content: "\f39e";
  position: relative;
  top: 6px;
  left: 11px;
  font-family: "FontAwesome";
  font-size: 13px;
  color: #656d89;
}

.contact__google {
  position: relative;
  top: 8px;
  left: 8px;
  font-size: 12px;
  color: #656d89;
}

.contact__twitter::before {
  content: "\f099";
  position: relative;
  top: 7px;
  left: 8px;
  font-family: "FontAwesome";
  font-size: 14px;
  color: #656d89;
}

.contact__linkedin::before {
  content: "\f0e1";
  position: relative;
  top: 7px;
  left: 8px;
  font-family: "FontAwesome";
  font-size: 15px;
  color: #656d89;
}


@media screen and (max-width: 768px) {
  .info {
    padding: 31px 40px 19px;
  }
  .info__line {    
    padding: 0 35px 0 0;
  }
  .info__title {
    padding: 0;
  }
  .info__item {  
    padding: 0 0 50px 0;
  }
  .info__description {
    padding: 18px 17px 34px 0;
    letter-spacing: 0.16px;
  }
  .portfolio__description {
    padding: 20px 50px 0 5px;
    word-spacing: -0.49px;
    line-height: 26px;
  }
  .portfolio__nav {
    padding: 15px 0px 20px 9px;
  }
  .portfolio__gallery {
    height: 806px;
  }  
  .gallery__item {
    padding: 5px 5px 6px 5px;
  }
  .about-us__title {
    padding: 6px 0 0 12px;
  }
  .about-us__description {
    padding: 17px 0 0 12px;
  }
  .about-us__staff {
    padding: 37px 0 0 0;
  }
  .staff__item:nth-of-type(1) {
    margin-left: 13px;
  }
  .staff__photo {
    width: 94%;
  }
  .position {
    padding: 50px 28px 48px;
  }
  .staff__name {
    padding: 9px 0 0 0px;
  }
  .staf__description[title="human1"] {
    padding: 3px 13px 0 0;
    text-align: justify;
    line-height: 21px;
  }
  .staf__description[title="human2"] {
    padding: 3px 13px 0 0;
    text-align: justify;
    line-height: 21px;
  }
  .staf__description[title="human3"] {
    padding: 3px 13px 0 0;
    text-align: justify;
    line-height: 21px;
  }
  .staf__contact {
    padding: 11px 0 0 0;
  }
  .quote__email {
    align-items: flex-start;
  }
  .quote__email-contact {
    padding: 5px 0 0 0;
  }
  .email__item {
    margin: 18px 0 -7px 0;
    width: 427px;
    height: 37px;
  }
  .email__text {
    margin: 19px 0 0 0;
    width: 426px;
    height: 147px;
    padding: 6px 0px 0px 13px;
  }
  .email_submit {
    margin: 20px 0 0 0;
    width: 133px;
    height: 34px;
  }
  .quote__contact {
    padding: 16px 0 0 28px;
  }
  .quote__info {
    padding: 0px 0 13px 0;
  }
}

@media screen and (max-width: 760px) {
  .info__line {
    justify-content: center;
  }
  .portfolio__gallery {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 24px 0 17px 0;
  }
  .header__logo {
    padding: 0 0px 0px 105px;
    font-size: 20px;    
  }
  .header__nav {
    display: none;
  }
  .slider__item:first-of-type {
    margin: 24.4% 0 23.6% 2%;
  }
  .slider__item:last-of-type {
    margin: 25.4% 1.6% 2.6% 0%;
  }
  .info {
    padding: 29px 34px 3px;
  }
  .info__description {
    padding: 13px 17px 0px 0;
  }
  .info__item {
    padding: 0 0 18px 0;
  }
  .position-portfolio {
    padding: 44px 0px 12px;
  }
  .portfolio__description {
    padding: 20px 0px 0 5px;
    line-height: 28px;
  }
  .portfolio__nav {
    padding: 14px 0px 21px 9px;
  }
  .gallery__item {
    width: 50%;
  }
  .portfolio__gallery {
    height: 574px;
  }
  .about-us__staff {
    flex-wrap: wrap;
    padding: 48px 0 0 0;
  }
  .about-us__description {
    text-align: left;
  }
  .position {
    padding: 24px 18px 24px;
  }
  .position-portfolio{
    margin: 0px 23px;
  }
  .portfolio__nav {
    padding: 15px 0px 27px 9px;
  } 
  .staff__item:nth-of-type(1) {
    margin-bottom: 33px;
  }  
  .staff__item:nth-of-type(1) .staff__name {
    padding: 18px 0 0 0px;
  }
  .staff__item:nth-of-type(1) .staf__contact {
    padding: 11px 0 0 0;
  }
  .staf__description[title="human2"] {
    padding: 3px 0px 0 0;
  }
  .staff__item:nth-of-type(2) {
    margin-left: 13px;
    margin-bottom: 35px;
  }
  .staff__item:nth-of-type(2) .staff__name {
    padding: 17px 0 0 0px;
  }
  .staff__item:nth-of-type(2) .staf__contact {
    padding: 11px 0 0 0;
  }
  .staff__item:nth-of-type(3) {
    margin-left: 13px;
  }
  .staff__item:nth-of-type(3) .staff__name {
    padding: 14px 0 0 0px;
  }
  .staff__item:nth-of-type(2) .staf__contact {
    padding: 8px 0 0 0;
  }
  .staf__description[title="human3"] {
    padding: 3px 1px 0 0;
  }  
  .staff__photo {
    width: 105%;
  }  
  .position__quote {
    padding: 47px 32px 41px;
  }
  .quote__email-contact {
    flex-wrap: wrap;
  }
  .email__item {
    width: 300px;
    height: 36px;
  }
  .email__text {
    width: 298px;
    height: 151px;
  }
  .email_submit {
    margin: 13px 0 0 0;
    width: 312px;
    height: 46px;
    font-size: 15px;
    font-weight: 800;
    background-color: #FBC65F;
    color: #431b1c;
  }
  .quote__contact {
    padding: 29px 0 0 0px;
  }
  .quote__message {
    left: 5%;
  }
  .footer__company {
    display: none;
  }
  .footer__info {
    justify-content: center;
    padding: 21px 40px;
  }
  
}   
